#mapContainer {
    display: none;
    width: 600px;
    height: 400px;
}

#output-image {
    clear: left;
    float: left;
}

#input-image {
    float: left;
    margin-left:15px;
}

#tiles, #mapCanvas, #sourceImage {
    border: 3px solid black;
}

#tiles img {
    float:left;
}

progress {
    width:500px;
}

#tools {
    float:left;
    width:580px;
}

#scratch {
    float:left;
    margin-left:30px;
    display: none;
}

#raw-tiles img {
    float: left;
    margin: 3px;
    border:1px solid black;
}

.clear {
    clear:both;
}
